.rate-one{
	margin-top:-30px; 
	width: 280px;
	margin-bottom: 20px;
	
}
.rate-one>a{
	text-decoration: none;
}


.rate-two{
	direction: rtl;
	max-width: 100%;
	
	
	position: relative;
	height: 50px;
}
.rate-two >input[type="radio"]{
	display:none;
	
}
.rate-two >label{
	display: inline-block;
	width: 50px;
	position: relative;
	top:-25px;
	left: 0;
	height: auto;
	//background-color: pink;
	cursor: pointer;
}
.rate-two >label{
	//background-color: transparent;
}
.rate-two >label:before{
	content:"\2605";
	color: white;
	display: inline-block;
	position: absolute;
	font-size: 50px;
	top:0;
	left:0;
	//background-color: yellow;
}
.rate-two >label:after{
	content:"\2605";
	color: gold;
	display: inline-block;
	position: absolute;
	font-size: 50px;
	top:0;
	left:0;
	opacity: 0;
}

.rate-two >label:hover:after, .rate-two >label:hover~label:after ,.rate-two>input[type="radio"]:checked~label:after{
	opacity: 1;
}