@import 'utilities.css' ;
:root{
   --header:#669db3ff;
   --skyblue:#000000;        /*primery*/
   --black:#161616;         /* dark */    
   --white:#FFFFFF;          /*pure*/
   --grey:#898989;           /*ternary*/
   --lightgrey:#F2F2F2;      /*light*/
   --darkblack: #070606;     /*secondary*/
   --about: #FFFFFF;
   --aboutblack:#161616;
   --freelancerwhite:#ffffff;
}
body{
   font-family: 'Poppins', sans-serif;
   
}
html{
   scroll-behavior: smooth;
}
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   -webkit-font-smotting:antialiased;

}

header{
   background: var(--header);
   padding-bottom: 3rem;

   /* clip-path: polygon(100% 0, 100% 96%, 76% 88%, 0 96%, 0 0); */
}
.container{
   max-width: 1152px;
   padding: 0 15px;
   margin: 0 auto;
} 

@media (min-width :576px){
   .container{
      max-width: 540px;
   }
}
@media (min-width :768px){
   .container{
      max-width: 720px;
   }
}
@media (min-width :992px){
   .container{
      max-width: 960px;
   }
}
@media (min-width :1200px){
   .container{
      max-width: 1152px;
   }
}

header nav .right a{
   color:var(--white);
   text-decoration: none;
   margin: 2rem;
   text-transform: uppercase;
   transition:all .3s ;
}

header nav .right a:hover{
   color: var(--skyblue);
}
header nav{
   padding: 2rem 0;
}
.first{
   padding: 2rem 0;
}
.first .left img{
   width: 280px;
}
.first .right{
   color: var(--white);
}
.first .right h6{
   font-size: 1.6rem;
   color: var(--skyblue);
   margin-bottom: 0.5rem;
}
.first .right h1{
   font-size: 3.5rem;
   font-weight: 100;
   line-height: 1.2;
   margin-bottom: 2rem;
}
.first .right h1 span{
   color: var(--skyblue);
}
.first .right p{
   line-height: 1.9;
   margin-bottom: 2rem;

}
section{
   padding: 3rem 0;
   
}
section.about{
   /* clip-path: polygon(76% 0, 100% 9%, 100% 100%, 0 100%, 0 9%); */
   /* background: linear-gradient(rgba(22, 22, 22),rgba(247, 247, 247)); */
}
section.about .about-me-image{
   height: 450px;  
}
section.about h1{
   margin-bottom: 1rem;
   font-size: 1.6rem;
   font-weight: 400;
}
section.about h1 span{
   color: var(--skyblue);
}
section.about h3{
   font-size: 1rem;
   margin-bottom: 1rem;
}
section.about p{
   font-family: 'Lato', sans-serif;
   color: var(--grey);
   line-height: 1.9;
}
/* section.about .icons{
   display: flex;
} */
/* section.about .icons a{
   background: var(--black);
} */
      /*another about*/
.section-heading{
   
   text-align: center;
   margin-bottom: 1rem;
   line-height: 0.5;
   font-weight: 400;
   
}
.section-heading + p{
   
   font-family: 'Lato', sans-serif;
   margin-bottom: 6rem;
   text-align: center;
   color: var(--grey);
}
/* .section-heading span{
   color: var(--skyblue);
} */
section.services{
   /* clip-path: polygon(19% 0, 100% 10%, 100% 100%, 0 100%, 0 10%); */
   /* background: linear-gradient(rgb(255, 255, 255),rgba(242, 242, 242)); */
}
section.services .card-wrapper{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   /* grid-column-gap: 1rem;
   grid-row-gap: 1rem; */
   
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
section.services .card-wrapper .card{
   color: var(--aboutblack);
   font-family: 'Lato', sans-serif;
   background: var(--about);
   padding: 3rem 2rem;
   position: relative;
}
section.services .card-wrapper .card p{
   color: var(--grey);
}
section.services .card-wrapper .card .edu-image, .tech-image, .achieve-image{
   float: left;
   height: 5rem;
   padding-right: 0.5rem;
}
section.services .card-wrapper .card .in-image{
   float: left;
   height: 5rem;
   padding-right: 0.5rem;
   transform: scaleX(-1);
}
section.services .card-wrapper .card h2{
   font-weight: bold;
   
}
/* section.services .card-wrapper .card img{
   position: absolute;
   left: 41%;
   top:-3.5rem
}        */

       /*another container*/


   /*freelancer*/
section.freelancer{
   text-align: center;
   background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../images/cameraone.jpg');
   color: var(--freelancerwhite);
   clip-path: polygon(100% 0, 100% 100%, 70% 83%, 0 100%, 0 0);
   padding-bottom: 14rem;
}
section.freelancer h1{
   font-size: 2rem;
   margin-bottom: 0.5rem;
   
}
section.freelancer p{
   margin-bottom: 2rem;
   font-family: 'Lato', sans-serif;
}


   /*slider*/
section.team h1 span{
   color: var(--skyblue);
}   
section.team .slider .slide img{
   width: 100px;
   height: 100px;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 2rem;

}
section.team .slider .slide{
   text-align: center;
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 0 10rem ;
}
section.team .slider .slide p{
   font-family: 'Lato',sans-serif;
   color: var(--grey);
   margin-bottom: 1rem ;

}
section.team .slider .slide span{
   font-size: 1rem;

}
section.team .slider-dots .dots{
   list-style-type: none;
   display: flex!important;
   justify-content: center;

}
section.team .slider-dots{
   margin-top: 3rem;
}
section.team .slider-dots button{
   font-size: 0;
   width: 8px;
   height: 5px;
   margin-right: 0.3rem;
   border: none;
   outline: none;
   background: var(--grey);
   border-radius: 50px;
   cursor: pointer;
   
}

section.team .dots li.slick-active button {
   background: var(--skyblue);
   width: 20px;
   
}
section.projects{

   background: var(--lightgrey);
   position: relative;
  
}
section.projects .container h1 span{
   color: var(--skyblue);
}
section.projects .card-wrapper{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 1rem;
}
section.projects .card-wrapper .card{
   position: relative;
   height: 250px;

}
section.projects .card-wrapper .card .overlay{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: var(--skyblue);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: var(--lightgrey);
   opacity: 0;
   transition: all .3s ease;
}
section.projects .card-wrapper .card:hover .overlay{
   opacity: 80%;
}
/* section.projects .card-wrapper .card .overlay .file-download{
   cursor: pointer;
   height: 3rem;
   width: 2.6rem;
   padding-left: 1%;
} */
section.projects .card-wrapper .card .overlay a{
   color: var(--header);
   text-decoration: none;
}
section.projects .card-wrapper .card img{
   height: 100%;
   width: 100%;
}

       /*Contact*/

section.contact .card-wrapper{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-gap: 3rem;
}       
section.contact .card-wrapper .card img{
   margin-bottom: 3rem;
   height: 5rem;
}       
section.contact .card-wrapper .card{
   text-align: center;
}
section.contact .card-wrapper .card h2{
   font-weight: 400;
   margin-bottom: 0.1rem;
}
section.contact .card-wrapper .card h6{
   font-size: 1rem;
   color: var(--grey);
   font-weight: 400;
   margin-bottom: 4rem;
   cursor: pointer;
}

/*form*/
section.contact .container h1 span{
   color: var(--skyblue);
}
section.contact .text-box{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-gap: 2rem;
   margin-bottom: 2rem;
}
section.contact .text-box-2{
   display: flex;
   flex-direction: column;

}
section.contact input{
   padding: 0.5rem;
   border: 1px solid var(--grey);
   font-size: 0.9rem;
}
section.contact .text-box-2 input{
   margin-bottom: 2rem;
   border: 1px solid var(--grey);
   font-size: 0.9rem;
}
section.contact .text-box-2 textarea{
   padding: 0.5rem;
   border: 1px solid var(--grey);
   font-size: 1.3rem;
}
section.contact input:focus,section.contact .text-box-2 textarea:focus{
   outline: none;
}
section.contact .btn-guard{
   text-align: center;
   margin-top: 2rem;
}
.theme{
   top: 50%;
   left: .5%;
   transform: translateY(-50%);
   position: fixed;
   z-index: 100;
   /* margin-bottom: 20px; */
 }

.theme button{
   height: 20px;
   width: 20px;
   list-style-type: none;
   padding-left: 12px;
   padding-top: 6px;
   
   outline: none;
   cursor: pointer;
   border: none;
 }
 .theme ul{
    list-style-type: none;
 } 
 .theme .button-one{
   background: #0049b7;
 }
 .theme .button-two{
   background: #FF6347;
 }
 .theme .button-three{
   background: #a5e65a;
 }
 .theme .button-four{
   background:orange;
 }
 .theme .button-five{
   background: #82a53e;
 }
 .theme .button-six{
   background: #455A64;
 }

      /*footer*/

footer{
   background: var(--darkblack);
   text-align: center;
   padding: 3rem 0;
}
footer .footer-logo{
   margin-bottom: 3rem;
   width: 150px;
}
footer .footer-social img{
   height: 32px;
   width: 32px;
   
}
footer .footer-social a{
   margin-right: 1rem;
}
footer .footer-social{
   margin-bottom: 3rem;
}
footer .reserved{
   color: var(--grey);
}




.site-main-wrapper{
   position: relative;

}
.hamberger{
   position: absolute;
   top: 40px;
   right: 40px;
   z-index: 11;
   background: none;
   border: none;
   outline: none;
   cursor: pointer;
   display: none;
}
.hamberger img{
   width: 30px;

}
.mobile-nav{
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1001;
   background: var(--header);
   width: 60%;
   height: 100%;
   text-align: center;
   padding: 2rem;
   padding-top: 5rem;
   transform: translateX(-100%);
   transition: all .5s ease-in-out ;
}
.open{
   transform: translateX(0);

}
.times{
   position: fixed;
   top: 30px;
   right: 30px;
   border: none;
   background: none;
   outline: none;
   cursor: pointer;
}
.times img{
   width: 30px;

}
.mobile-nav ul{
   list-style-type: none;
   
}

.mobile-nav ul img{
   padding-bottom: 10%;
   
}
.mobile-nav ul li a{
   color: var(--skyblue);
   text-decoration: none;
   font-size: 2rem;
   
}

@media (max-width:1218px){
   header #main-nav{
      display: none;
   }
   .first .left img{
      width: 260px;
   }
   .first .left img{
      font-size: 3rem;

   }  
   .first{
      padding-top: 2rem;
   } 
   
   section.about .about-me-image{
      height: 368px;

   }
   section.projects .card-wrapper{
      grid-template-columns: repeat(2,1fr);
   }
   section.services .card-wrapper{
      grid-template-columns: repeat(1, 1fr);
     
   }
   .hamberger{
      display: block;
   }
}
@media(max-width:576px){
    .first{
       flex-direction: column;
    }
    .first .right{
       position: absolute;
       top: 35px;
       padding: 0 2.3rem;
    }
    .first .left{
      margin-left: -2rem;
      margin-bottom: -1rem;
    }
    .about-my{
       flex-direction: column;
    }
    .about .hand{
       text-align: center;
       margin:2rem 1rem ;
    }
    section.projects .card-wrapper {
      grid-template-columns: repeat(1,1fr);
      margin: 0 .5rem;
  }
    section.freelancer{
      clip-path: polygon(100% 0, 100% 100%, 70% 89%, 0 100%, 0 0);
      padding-bottom: 5rem;
    }
    section.team .slider .slide{
      padding: 0px 1rem;
    }
    .section-heading + p{
      margin-bottom: 3rem;
    }
    section.contact .card-wrapper{
       grid-template-columns: repeat(1, 1fr);
    }
    section.contact .text-box{
      margin-left: 1.5rem;
      grid-template-columns: repeat(1, 1fr);
    }
    section.contact .text-box-2{
       margin-left: 1.5rem;
    }
}